body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.menu{
	height: 100%;
	width: 15%;
	background-color: white;
	position: absolute;
	padding-top: 25px;
	padding-left: 1%;
	padding-right: 1%;
	overflow:auto;
}
.menu a{
	text-decoration: none;
	color: #A1A7A2;
	display: block;
	font-size: 1.5vw;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	border-bottom: #D5E1C4 solid 4px;
	margin-top: 20px;
	font-family: Arsenal;
    font-weight: bold;
}

header{
	width: 100%;
	height: 130px;
	background-color: #D5E1C4;
	background-image: url("LOGO1.png");
	background-position: center;
}

.menu a:hover{
	background-color: white;
	color: #7EDA91;
	transform: scale(1.05);
	transition-duration: 0.5s;
}

.main{
	height: 100%;
	width: 70%;
	background-color: white;
	margin-left: 20%;
	position: absolute;
	margin-right: 10%;
	text-align: center;
	font-size: 150%;
}

img{
	height: 125px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
    float: center;

}

p{
	display: inline;
	font-size: 1.5vw;
	margin-bottom: 50px;
	margin-top: 0;
	/*text-align: justify;*/
}


#strona{
    /*color: black;
    background: green;*/
    text-align: center;
}

/* .borderek{
	border: 3px solid #D5E1C4;
	border-radius: 20px;
} */


.collapsible {
	background-color: white;
	color: #A1A7A2;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
 
  .active, .collapsible:hover {
	background-color: white
  }
 
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #D5E1C4;
	font-size: 0.95vw;
  }


#plants{
	width: 25%;
	height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    
}

#wstęp1{
    /*font-size: 20px;*/
    font-size: 1.5vw;
	text-align: justify;
	float: left;
    margin-right: 2.5%;
   
}

.article{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
	padding-bottom: 2%;
}

.article img{
	border: #D5E1C4 solid 4px;
}

.article2{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.article2 img{
	border: #D5E1C4 solid 4px;
}

#wstęp2{
    font-size: 1.5vw;
	text-align: justify;
	float: left;
    margin-right: 2.5%;
}

#kentia{
	width: 25%;
	height: 100%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

 body::-webkit-scrollbar{
	width: 12px;
}
body::-webkit-scrollbar-thumb {
	background-color: #D5E1C4;   
	border-radius: 20px;     
	border: 0.05rem solid white;  
  }

.menu::-webkit-scrollbar{
	width: 0.5rem;
}
.menu::-webkit-scrollbar-thumb {
	background-color: #D5E1C4;   
	border-radius: 20px;     
	border: 0.05rem solid white;  
  }


img:hover{
	transform: scale(1.05);
	transition-duration: 0.5s;
}

.a {
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
    
}


.a img{
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
	margin-bottom: 2.5%;
}


.ab {
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.ab img{
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.abc{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abc img{ /*aloes*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
	margin-bottom: 2.5%;
}

.abcd{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcd img{ /*miłorząb*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    
}
.abcde{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcde img{ /*dzika róża*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
	margin-bottom: 2.5%;
}

.abcdefg{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcdefg img{ /*czarny bez*/
	width: 25%;
	height: 230%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
	margin-bottom: 2.5%;
}

.abcdefgh{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}
.abcdefgh img{ /*mięta*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
	margin-bottom: 2.55%;
}

.abcdefghi{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcdefghi img{ /*żeń szeń*/
	width: 25%;
	height: 500%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.abcdefghij{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

/*.abcdefghij img{ melissa
	width: 75%;
	height: 250%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}*/

#melisa1{
    width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}


#melisa2{
    width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}


.abcdefghijkl{
	border-bottom: 3px solid #D5E1C4;
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcdefghijkl img{ /*szałwia*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}
.abcdefghijklm{
	text-align:justify;
	display: flex;
    font-size: 1.5vw;
    margin-right: 2.5%;
}

.abcdefghijklm img{ /*lawenda*/
	width: 25%;
	height: 150%;
	border: #D5E1C4 solid 4px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}


.link{
	width: 100%;
	height: 130px;
}


.content a{
	font-size: 120%;
}


.footer{
    display: block;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    align-items: center;
    border-top: 2px solid #D5E1C4;
}

.footer p{
    font-size: 20px;
    font-family: Sofia Sans Condensed;
}

#wstęp2 a{
	text-decoration: underline;
	color: #6e9b2f;
	font-weight:bold;
}

h1{
    font-size: 2.88vw;
}