body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.menu{
    height: 100%;
    width: 15%;
    background-color: white;
    position: absolute;
    padding-top: 25px;
    padding-left: 1%;
    padding-right: 1%;
    overflow:auto;
}
.menu a{
    text-decoration: none;
    color: #A1A7A2;
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-bottom: #D5E1C4 solid 4px;
    margin-top: 20px;
}

header{
    width: 100%;
    height: 130px;
    background-color: #D5E1C4;
    background-image: url("LOGO1.png");
    background-position: center;
}

.menu a:hover{
    background-color: white;
    color: #7EDA91;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.main{
    height: 100%;
    width: 70%;
    background-color: white;
    margin-left: 20%;
    position: absolute;
    margin-right: 10%;
    text-align: center;
    font-size: 150%;
}

img{
    height: 125px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
	float: center;

}

p{
    display: inline;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 0;
    /*text-align: justify;*/
}


#strona{
	/*color: black;
	background: green;*/
	text-align: center;
}

/* .borderek{
    border: 3px solid #D5E1C4;
    border-radius: 20px;
} */


.collapsible {
    background-color: white;
    color: #A1A7A2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
 
  .active, .collapsible:hover {
    background-color: white
  }
 
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #D5E1C4;
  }


#plants{
    width: 260px;
    height: 290px;
    float: center;
}

#wstęp1{
	font-size: 20px;
    text-align: justify;
    float: left;
}

.article{
    display: flex;
    padding: 3%;
    
}

.article img{
    border: #D5E1C4 solid 4px;
}

.article2{
    display: flex;
    padding: 3%;
    
}

.article2 img{
    border: #D5E1C4 solid 4px;
}

#wstęp2{
	font-size: 20px;
    text-align: justify;
    float: left;
}

#kentia{
    width: 260px;
    height: 290px;
    float: center;
}

 body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #D5E1C4;   
    border-radius: 20px; 	 
    border: 0.05rem solid white;  
  }

.menu::-webkit-scrollbar{
    width: 0.5rem;
}
.menu::-webkit-scrollbar-thumb {
    background-color: #D5E1C4;   
    border-radius: 20px; 	 
    border: 0.05rem solid white;  
  }


img:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.a {
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}


.a img{
    width: 220px;
    height: 220px;
    border: #D5E1C4 solid 4px;
    
}


.ab {
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.ab img{
    width: 220px;
    height: 180px;
    border: #D5E1C4 solid 4px;
    
}

.abc{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abc img{ /*aloes*/
    width: 220px;
    height: 210px;
    border: #D5E1C4 solid 4px;
    
}

.abcd{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcd img{ /*miłorząb*/
    width: 220px;
    height: 200px;
    border: #D5E1C4 solid 4px;
    
}
.abcde{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcde img{ /*dzika róża*/
    width: 220px;
    height: 200px;
    border: #D5E1C4 solid 4px;
    
}

.abcdefg{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcdefg img{ /*czarny bez*/
    width: 260px;
    height: 250px;
    border: #D5E1C4 solid 4px;
    
}

.abcdefgh{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}
.abcdefgh img{ /*mięta*/
    width: 250px;
    height: 200px;
    border: #D5E1C4 solid 4px;
    
}

.abcdefghi{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcdefghi img{ /*żeń szeń*/
    width: 250px;
    height: 180px;
    border: #D5E1C4 solid 4px;
    
}

.abcdefghij{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcdefghij img{ /*melissa*/
    width: 250px;
    height: 180px;
    border: #D5E1C4 solid 4px;
    
}

.abcdefghijkl{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;
}

.abcdefghijkl img{ /*szałwia*/
    width: 250px;
    height: 180px;
    border: #D5E1C4 solid 4px;
    
}
.abcdefghijklm{
    border-bottom: 3px solid #D5E1C4;
    text-align:justify;
    display: flex;

}

.abcdefghijklm img{ /*lawenda*/
    width: 250px;
    height: 180px;
    border: #D5E1C4 solid 4px;
    
}


.link{
    width: 100%;
    height: 130px;
}